/*body {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    height: 100vh;*/
/*    background-color: black;*/
/*    flex-direction: column;*/
/*    display: block;*/
/*    overflow: hidden;*/
/*    color: white;*/
/*    font-family: sans-serif;*/
/*}*/

body {
    position: absolute;
    display: block;
    overflow: hidden;
    color: white;
    font-family: sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
}
.grid3 {
    display: grid;
    width: 100vw;
    grid-template-columns: 33% 34% 33%;
}
.item {
    flex-grow: 1;
    font-size: 18px;
}
.item20 {
    width: 15%;
    font-size: 18px;
}
.vertical {
    flex-direction: column;
}

.button {
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    height: 48px;
    line-height: 48px;
    margin: 4px 2px;
    background-repeat: no-repeat;
    background-size: 42px;
    background-position: center;
    border-radius: 10px;
}
.button:active {
    background-color: #AA8844;
}

.icon {

}

.field {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}

.opaque {
    background-color: rgba(9, 45, 71, 0.73);
    color: white;
    box-shadow: black 0px 0px 0px;
    border: solid black 1px;
}
.green2 {
    background-color: #3C8F00;
}
.green {
    background-color: #3C8F00;
}
.red {
    background-color: #AA4400;
}
.light_red {
    background-color: #AA8844;
}
.blue {
    background-color: rgba(0, 200, 227, 0.8);
}
.blue2 {
    background-color: rgba(9, 45, 71, 1);
}

.top_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.top_small {
    flex-grow: 1;
    flex-basis: 0;
}
.top_big {
    flex-grow: 4;
    flex-basis: 0;
}

.user_img {
    height: 60%;
}
.user_info {
    text-align: center;
    position: relative;
    height: 100%;
    left: 0;
    right: 0;
}

.video_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    z-index: -1;
}
.video {
    height: 100%;
    width: 100%;
}

#flash {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#flash > img {
    display: none;
}

#flash.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#flash.show > img {
    display: block;
}

.add-recipe {
    margin-top: 2em;
}

.add-recipe input, .add-recipe select {
    padding: 0.5em 1em;
}

.add-recipe_name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 2em;
}

.add-recipe_name > label {
    padding: 0.5em 1em 0.5em 0;
    font-size: 1.5em;
}

.add-recipe_name > #recipe-name {
    width: 100%;
}

#ingredients-header {
    display: flex;
    margin-top: 2em;
    padding-left: 2em;
    font-size: 1.5em;
}

#ingredients-header-ingredient {
    width: 60%;
    margin-left: 5%;
}

#ingredients-header-amount {
    width: 35%;
}

#ingredients-list {
    width: 100%;
    overflow: auto;
    height: 40vh;
}

.ingredients-list-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5em;
}

.ingredients-list-row-remove {
    width: 5%;
    padding: 0.5em 1em;
}

.ingredients-list-row-remove.hidden {
    visibility: hidden;
}

.ingredients-list-row-ingredient {
    width: 60%;
    padding-right: 2em;
}

.ingredients-list-row-amount {
    width: 35%;
    padding-right: 1em;
}

#add-row {
    padding-left: 2em;
    width: 100%;
}

#add-row > button {
    padding: 0.5em 1em;
    font-size: 1.5em;
    line-height: 1.5em;
}

#save-recipe-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#save-recipe-container > button {
    padding: 0.25em 0.5em;
    font-size: 1.5em;
    line-height: 1em;
}