{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('index') }}';" class="top_small button blue2">
        <img src="/static/w-arrow.png" alt="TAKAISIN">
    </div>

    <div style="order: 2;" class="top_big button blue2">
        {{ name }}
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button blue2">
        <img src="/static/w-logout.png" alt="KIRJAUDU ULOS">
    </div>

{% endblock %}

{% block body %}

    <div class="container">
        <div onclick="window.location='{{ url_for('pumps') }}';" class="button item green">
            Pumppujen raaka-aineet
        </div>
        <div onclick="window.location='{{ url_for('prime') }}';" class="button item green">
            Linjojen esitäyttö
        </div>
        <div onclick="window.location='{{ url_for('register') }}';" class="button item green">
            Lisää käyttäjä
        </div>
        <div onclick="window.location='{{ url_for('del_user') }}';" class="button item red">
            Poista käyttäjä
        </div>
        <div onclick="window.location='{{ url_for('recipes') }}';" class="button item green">
            Reseptien muokkaus
        </div>

    </div>

{% endblock %}
