{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('index') }}';" class="top_small button green2">
        TAKAISIN
    </div>

    <div style="order: 2;" class="top_big button green2">
        Ylläpito - {{ name }}
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button green2">
        KIRJAUDU ULOS
    </div>

{% endblock %}

{% block body %}

    <div class="container">
        <div onclick="window.location='{{ url_for('pumps') }}';" class="button item green">
            Pumppujen raaka-aineet
        </div>
        <div onclick="window.location='{{ url_for('recipes') }}';" class="button item green">
            *Muokkaa reseptejä*
        </div>
        <div onclick="window.location='{{ url_for('register') }}';" class="button item green">
            Lisää käyttäjä
        </div>
        <div onclick="window.location='{{ url_for('del_user') }}';" class="button item red">
            Poista käyttäjä
        </div>
    </div>

{% endblock %}
