{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('index') }}';" class="top_small button green2">
        TAKAISIN
    </div>

    <div style="order: 2;" class="top_big button green2">
        {{ name }}, tilaa jotain!
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button green2">
        KIRJAUDU ULOS
    </div>

{% endblock %}

{% block body %}

    <form action="{{ url_for('mix_drink') }}" method="post" class="container">

        {% for drink in drinks|sort %}

            <input type="submit" name="drink" value="{{ drink }}" class="button item green">

        {% endfor %}

    </form>

{% endblock %}
