{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('index') }}';" class="top_small button blue2">
        <img src="/static/w-arrow.png" alt="TAKAISIN">
    </div>

    <div style="order: 2;" class="top_big button blue2">
        {{ name }}
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button blue2">
        <img src="/static/w-logout.png" alt="KIRJAUDU ULOS">
    </div>

{% endblock %}

{% block body %}

    <form action="{{ url_for('mix_drink') }}" method="post" class="container" id="form1">

        {% for drink in drinks|sort %}

            <input type="submit" name="drink" value="{{ drink }}" class="button item green">

        {% endfor %}

        <button type="submit" name="drink" form="form1" value="{{ joker }}" class="button item green">Joker</button>

    </form>

{% endblock %}
