{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="login()" class="top_small button opaque">
        <img src="/static/w-drink.png" alt="TILAA" class="icon" id="login-content">
    </div>

    {% if logged %}

        <div style="order: 2;" onclick="window.location='{{ url_for('history') }}';" class="top_small button opaque">
            <img src="/static/w-hist.png" alt="HISTORIA">
        </div>

        <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button opaque">
            <img src="/static/w-logout.png" alt="KIRJAUDU ULOS">
        </div>

        <div style="order: 2;" onclick="window.location='{{ url_for('user') }}';" class="top_big button opaque">
            {{ name }}
        </div>

        {% if admin %}

            <div style="order: 4;" onclick="window.location='{{ url_for('admin') }}';"  class="top_small button opaque">
                <img src="/static/w-settings.png" alt="ADMIN">
            </div>

        {% endif %}

    {% endif %}

{% endblock %}

{% block body %}

    <div class="video_container">
        <video autoplay="true" id="videoElement" style="transform: scaleX(-1);" class="video"></video>
    </div>
    <script>initCameraFeed()</script>

    <div id="flash"><img src="/static/spinner.gif" alt="LOADING"></div>

{% endblock %}
