<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Baari-Mikko</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script>
            var loginUrl = "{{ url_for('drinks') }}";
            var loginSpinner = "{{ url_for('static', filename='left-arrow.png') }}"
        </script>
    </head>
    <body>
        <div class="top_container">

            {% block top %}{% endblock %}

        </div>

            {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>
