{% extends "layout.html" %}

{% block top %}

    <div style="order: 2;" class="top_small button blue2">
        Valmistetaan {{ drink }}
    </div>

{% endblock %}

{% block body %}
    <style>
    #Per {
        width: 100%;
        text-align: center;
    }

    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: #4CAF50;
    }
    </style>

    <h1 id="Per">Odota</h1>

    <div id="myProgress">
        <div id="myBar"></div>
    </div>

    <script>
    let i = 0;
    function move() {
        if (i === 0) {
            i = 1;
            const elem = document.getElementById("myBar");
            let width = 1;
            let id = setInterval(frame, 1*{{ time }});
            function frame() {
                if (width >= 100) {
                    clearInterval(id);
                    i = 0;
                    window.location='{{ url_for('logout') }}';
                } else {
                    width+=0.1;
                    elem.style.width = width + "%";
                    document.getElementById('Per').innerHTML = Math.round(width) + " %";
                }
            }
        }
    }
    window.addEventListener("load", move)

    </script>

{% endblock %}
