{% extends "layout.html" %}

{% block top%}
  <div onclick="window.location='{{ url_for('index') }}';" class="top_small button green2">
    HOME
  </div>
  <div class="top_big button green2">
    {% if name != None %}
      Muokkaa reseptejä - {{ name }}
    {% else %}
      Baari-Mikko 0.1 beta - Error!
    {% endif %}
  </div>
  {% if name != None %}
  <div onclick="window.location='{{ url_for('logout') }}';" class="top_small button green2">
    LOGOUT
  </div>
  {% endif %}
{% endblock %}
{% block body %}
  {% if drinks is defined %}
    {% if ( (drink_select == None) or (drink_select == 'None') ) %}
      <form action="/recipes" method="post" class="container">
        {% for drink in drinks %}
          <input type="submit" name="drink" value="{{ drink.1 }}" class="button item green">
        {% endfor %}
      </form>
    {% else %}
      <form action="/recipes" method="post" class="container">
        <button type="submit" name="drink" value="None" class="button item green">
          Peruuta "{{ drink_select }}" drinkin muokkaus.
        </button>
      </form>
      <form class="container vertical" action="" method="post">
        {% for ingredient in drink_recipe %}
          <div class="container" id="{{ ingredient[0] }}">
          <label class="item20 field green" for="{{ ingredient[1] }}">{{ ingredient[0] }}</label>
          <input class="item button blue" onclick="document.getElementById('qty{{ ingredient[0] }}').stepUp(10);" type="button" name="" value="+">
          <input class="item field" type="number" id="qty{{ ingredient[0] }}" name="{{ ingredient[0] }}" value="{{ ingredient[1] }}">
          <input class="item button blue" onclick="document.getElementById('qty{{ ingredient[0] }}').stepDown(10);" type="button" name="" value="-">
          <input class="item button red" type="button" onclick="document.getElementById('{{ ingredient[0] }}').remove();" name="" value="DELETE">
          </div>
        {% endfor %}
          <div class="container">
            <input type="button" class="button item" value="Lisää raaka-aine (TBA)">
            <input type="button" class="button item" value="Tallenna muutokset (TBA)">
            <input type="button" class="button item red" value="Poista drinkki (TBA)">
          </div>
      </form>
    {% endif %}
  {% else %}
    Error!
  {% endif %}
{% endblock %}
