{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('admin') }}';" class="top_small button green2">
        TAKAISIN
    </div>

    <div style="order: 2;" class="top_big button green2">
        MUOKKAA RESEPTIÄ
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button green2">
        KIRJAUDU
    </div>

{% endblock %}

{% block body %}

    {% if drinks is defined %}

        <form action="{{ url_for('recipes') }}" method="get" class="container">

            {% for drink in drinks %}

                <input type="submit" name="drink" value="{{ drink.1 }}" class="button item green">

            {% endfor %}

        </form>

        <button class="button item light_red" onclick="window.location.assign('{{ url_for('create_recipe') }}')">UUSI</button>

{% else %}

        Fucked up!

    {% endif %}

{% endblock %}
