{% extends "layout.html" %}

{% block top %}

    <div style="order: 1;" onclick="window.location='{{ url_for('admin') }}';" class="top_small button blue2">
        <img src="/static/w-arrow.png" alt="TAKAISIN">
    </div>

    <div style="order: 2;" class="top_big button blue2">
        Rekisteröinti
    </div>

    <div style="order: 5;" onclick="window.location='{{ url_for('logout') }}';" class="top_small button blue2">
        <img src="/static/w-logout.png" alt="KIRJAUDU ULOS">
    </div>

{% endblock %}

{% block body %}

    <form action="{{ url_for('add_user') }}" method="post" class="container">
        <input type="text" name="username" class="item field" placeholder="Etunimi Sukunimi">
        <div class="field blue item">
            Ylläpitäjä: <input type="checkbox" name="admin" class="item field">
        </div>
        <input type="submit" value="Rekisteröi" class="button item green">
    </form>

    <div class="video_container">
        <img id="live" src="{{ url_for('live_feed') }}" class="video" style="transform: scaleX(-1);" alt="No stream.">
    </div>

{% endblock %}
